body {
  font-family: 'Brush Script MT', cursive;
  line-height: 1.6;
  margin: 0;
  padding: 24px;
  background: #fcfafd;
  color: #222;
}
.nav {
  display: flex;
  gap: 20px;
  text-align: left;
  padding: 12px;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
  align-items: center;
  background-color: #fec9ea;
  transition: .3s;
}

.nav h6 {
  margin: 0;
}

.nav h6:hover {
  color: #e82ecc;
  letter-spacing: 2px;
}

.intro {
  text-align: center;
  font-family: 'Brush Script MT', cursive;

}

.intro img {
  animation: grow .8s ease;
  
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
  align-items: center;
    background-color: #fec9ea;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transform: scale(var(--scale));
}

img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.contact {
  margin-top: 24px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.related-content{
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;

}

li:hover{
  text-align: center;
  transform: scale(1.1);
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: #fc65f7;
}

.contact {
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
}